extends layout

block content
  h1= title
  p Select a counter to edit.
  each val in counts
    +item(val)
  a(href='/new') Add New

mixin item(val)
  .item-row
    a(href=`/edit/${val.name}`)
      p=val.name