body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-group {
  width: 100%;
}

.form-control {
  width: 100%;
  margin-bottom: 1em;
}

.form-control-number {
  width: auto;
}

.btn-danger {
  color: white;
  background-color: rgb(206, 87, 87);
}

.form-button-row {
  display: flex;
  justify-content: space-between;
}

.field-delete {
  text-align: right;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}